/* B a.- Target the anchor tag a change the color red. */
nav a{
    color: red;
}

/* B b- Target the first  h2 tag and change the text and background color */
nav > h2{
    color: red;
    background-color: azure
}
/* B c- the first <p> tag and change text color red */
ul + p{
    color: red;
}
/* C a- Target the anchor tag with attribute "href" and change color to red and remove the text underline  */
a[href] {
    color: red;
    text-decoration: none;
}
/* C b- Target the anchor tag with attrbute of the class name "active" change the text Aolor, and provide the
text style properties with underlining*/
a[class="active"] {
    color: rgb(89, 0, 255);
    text-decoration: underline;

}
/* C c- Target the anchor tag with the attribute of the target whose value is “_self” and change the
background color. */
a[target= _self] {
    background-color: beige;
}
/* D a- Target the last <p> tagand add “...” i.e. three Eots after its value */
p:last-child::after{
    content: "...";
}
/* D b- Target the list of bullet points and change the color of the bullet points. */
li::marker{
    color: chartreuse;
}
/* D c- Among the three <p> tags target the 2nd <p> tag, select the first letter of the second <p> tag, and change the
color to red Also increase the font size to 30px */
p:nth-child(even)::first-letter{
    color: red;
    font-size: 30px;
}